<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Geeki</title>

    <script type="text/javascript" src="<%= javascript_path('ext-4.0/ext-all-debug.js') %>"></script>
    <script type="text/javascript" src="<%= javascript_path('ext-ux/StatusBar.js') %>"></script>
    <script type="text/javascript">
      bravojs = {
        url: window.location.protocol + "//" + window.location.host + "<%= javascript_path('extjs4-ace/Component.js') %>"
      };
      document.write('<script type="text/javascript" src="' + bravojs.url + '"><' + '/script>');
    </script>

    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('ext-4.0/resources/css/ext-all.css') %>">

    <script type="text/javascript" src="<%= javascript_path('application.js') %>"></script>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('application.css') %>">

    <script type="text/javascript" src="<%= javascript_path('app.js') %>"></script>
  </head>

  <body>
  </body>
</html>
